.title {
    color: rgb(100, 5, 5);
    text-shadow: 2px 2px 2px rgb(158, 158, 158);
    background-color: rgb(233, 225, 225);
    text-align: center;
    margin-bottom: -15px;
}
h1 {
    border: 0px solid;
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 span {
    display: block;
    width: 300px;
    margin-left: 300px;
    border: 1px dashed;
    text-align: center;
}


img {
    border-radius: 10px;
    margin-right: 50px;
    margin-left: 5px;
    box-shadow: 5px 5px 8px #c9c3c3;
    border: 1px solid darkred;
    width: 150px;
    height: auto;
}

a {
    font-size: 18px;
    text-decoration: unset;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

a:hover {
    color: rgb(131, 11, 11);
    font-weight: bold;
    font-size: 19px;
    
}

#nicolas {
    font-size: 20px;
    margin-left: 360px;
    
}

ul {
    display: flex;  

}

* {
    outline: 0px solid red;
}