*,
*::before,
*::after {
    box-sizing: border-box;
    background-color: rgb(219, 219, 203);
}

.title {
    color: rgb(100, 5, 5);
    text-shadow: 2px 2px 2px rgb(48, 48, 48);
    margin-bottom: -15px;
}
h1 {
    border: 0px solid;
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-bottom: 35px;
    
}
h1 span {
    display: block;
    width: 450px;
    margin: auto;
    border: 2px dashed;
    padding-bottom: 6px;
}


img {
    border-radius: 10px;
    box-shadow: 5px 5px 8px #979595;
    border: 1px solid darkred;
    width: 180px;
    height: 160px;
    margin-top: 15px;
    margin-bottom: 65px;
}

a {
    font-size: 20px;
    text-decoration: underline;
    color: rgb(49, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

li::marker {
    font-size: 0em;
}

a:hover {
    color: rgb(131, 11, 11);
    font-weight: bold;
    
    
}

#nicolas {
    font-size: 18px;

    
}

ul {
    display: block;  
    padding: 20px;
    margin: auto;
    margin-left: 25px;
    text-align: left;

}

